@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
/* variables */
:root {
  --white: #edf2f4;
  --salmon: #ee8b98;
  --light-blue: #8d99ae;
  --dark-blue: #1c4f82;
  --very-dark-blue: #161722;
  --light-red: #ef233c;
  --medium-red: #d90429;
  --dark-red: #900018;
}
/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
  color: var(--very-dark-blue);
  background-color: var(--white);
  min-height: 100vh;
  letter-spacing: 1px;
  background-color: #edf2f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23e9c2cb' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23e593a3' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23e1637a' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23dd3452' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23D90429' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
ul {
  list-style: none;
}
a {
  position: relative;
  color: #000;
  text-decoration: none;
  padding: 0 15px;
  padding-bottom: 5px;
  color: var(--dark-blue);
}
a:hover {
  transition: color 0.2s ease;
}
a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: var(--medium-red);
  transform: scaleX(0);
  transition: transform 0.2s ease;
}
a:hover::before {
  transform: scaleX(1);
}
.btn {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn-primary {
  background-color: var(--medium-red);
}
.btn-primary:hover {
  background-color: var(--salmon);
  background-color: var(--dark-red);
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  /* border: 2px solid var(--medium-red); */
}
.containerHeader {
  border-bottom: 2px solid var(--medium-red);
  width: 100%;
  padding-bottom: 10px;
  /* padding-right: 50px; */
  margin-right: auto;
  margin-bottom: 50px;
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-bottom: 2px solid var(--very-dark-blue);
}

.mainLogo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: auto;
  /* background-color: #8d99ae; */
  min-width: 210px;
  padding-left: 10px;
  transition: border-color 0.2s ease;
  /* animation: borderPulse 1s infinite; */
}
.firstLastContainer {
  display: flex;
  font-weight: bold;
}

.mainLogo span {
  font-size: 1.3rem;
}
/* .mainLogo:hover .firstName {
  color: var(--medium-red);
  color: var(--dark-blue);
}
.mainLogo:hover .lastName {
  color: var(--medium-red);
  color: var(--dark-blue);
} */
.lastName {
  color: var(--medium-red);
  transition: color 0.2s ease;
}
.firstName {
  color: var(--medium-red);
  transition: color 0.2s ease;
}
.navbarLinks ul {
  display: flex;
  justify-content: center;
}
.navbarLinks ul li {
  font-size: 1rem;
}
/* social */
.socialLinksContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 2%;
}
.socialLinks {
  display: flex;
}
.socialIconContainer .socialIcon {
  font-size: 1.9rem;
  margin-bottom: 20px;
  cursor: pointer;
  color: var(--very-dark-blue);
  transition: all 0.2s ease-in-out;
}
.socialIconContainer:hover .socialIcon {
  color: var(--medium-red);
  transform: scale(1.1);
}
.line {
  border: 1px solid var(--very-dark-blue);
  height: 150px;
  margin-top: 20px;
}
/* email */
.emailContainer {
  position: fixed;
  width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 2%;
}
.email {
  font-size: 1rem;
  margin-left: 5px;
  margin-bottom: 140px;
  cursor: pointer;
  transform: rotate(90deg);
  color: var(--very-dark-blue);
  transition: all 0.2s ease-in-out;
}
.email:hover {
  color: var(--medium-red);
  font-size: 1.05rem;
}
/* hero */
.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - (86px));
}
.innerHero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 60vh;
  min-height: 600px;
  max-width: 1400px;
  /* background-color: var(--dark-blue); */
  color: var(--white);
}
.leftInnerHero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  padding: 20px;
  flex: 1;
  height: 100%;
  color: var(--very-dark-blue);
  /* border: 2px solid var(--very-dark-blue); */
  /* line-height: 30px; */
}
.heroIntroHeading {
  text-align: center;
  margin-bottom: 20px;
}
.heroIntroParagraph {
  text-align: center;
}
/* .rightInnerHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid var(--very-dark-blue);
} */
.avatarContainer {
  position: relative;
  width: 260px;
  height: 260px;
  border: 2px solid var(--very-dark-blue);
  overflow: hidden;
  background-size: cover;
  margin: 20px 0;
  /* filter: grayscale(0.7); */
  filter: saturate(0.5);
  transition: filter 0.2s ease;
}
.avatarContainer:hover {
  filter: saturate(1);
}
.avatarContainerShadow {
  position: absolute;
  height: 260px;
  width: 260px;
  margin-left: 100px;
  margin-bottom: 200px;
  background-color: var(--medium-red);
  border: 2px solid var(--very-dark-blue);
  z-index: -1;
}
.avatarContainer img {
  position: absolute;
  width: 100%;
}
.rightInnerHero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  flex: 1;
  height: 100%;
  background-color: var(--very-dark-blue);
  line-height: 30px;
  /* background-color: #161722;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23172235' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23182d48' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%231a395c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%231b446f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%231C4F82' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: top; */
}
.firstNameHero {
  color: var(--medium-red);
}
.code {
  margin-left: 50px;
  font-size: 1.2rem;
  /* font-weight: bold; */
}
.firstNameCode {
  animation: colorChange 2s ease-in-out;
}
.lastNameCode {
  animation: colorChange 2s ease-in-out;
  animation-delay: 2s;
}
.nationalityCode {
  animation: colorChange 2s ease-in-out;
  animation-delay: 4s;
}
.infoCode {
  animation: colorChange 2s ease-in-out;
  animation-delay: 6s;
}
/* about me */
.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
}

.technologyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  width: 80px;
  height: 80px;
  filter: saturate(0.4);
}
.technologyContainer img {
  width: 100%;
}
/* animations */
@keyframes borderPulse {
  0% {
  }
  100% {
    border-color: transparent;
  }
}
@keyframes colorChange {
  0% {
    color: var(--white);
  }
  50% {
    color: var(--medium-red);
  }
  100% {
    color: var(--white);
  }
}
